<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
</head>

<body>
<form id="form1" name="form1" method="POST" action="">
    {% csrf_token %}
  <table width="200" border="1" align="center">
    
    <tr>
      <td>Photo</td>
      <td><img src="{{Profile.user_photo.url}}" width="150" height="150" alt=""></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{Profile.user_name}}</td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>{{Profile.user_contact}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{Profile.user_email}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{Profile.user_address}}</td>
    </tr>
  
  </table>
</form>
</body>
</html>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Edit Profile</title>
</head>

<body>
<form id="form1" name="form1" method="POST" action="">
    {% csrf_token %}
  <table width="200" border="1" align="center">
    <tr>
      <td>Name</td>
      <td><input type="text" name="txt_name"  value="{{EditProfile.user_name}}"/></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><input type="text" name="txt_con" value="{{EditProfile.user_contact}}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="txt_email" value="{{EditProfile.user_email}}"/></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="textarea" name="txt_address" value="{{EditProfile.user_address}}"/></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" name="btn_submit" value="Submit">
        <input type="reset" name="txt_cancel" value="Cancel"></td>
    </tr>
  </table>
</form>
</body>
</html>

